* {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;
}


textarea {
    resize: none;
   } 

.header {
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    max-width: 100%;

    position: relative;
    left: 21%;
    top: 100px;
}

footer {
    background: whitesmoke;
    height: 160px;
    width: 100%;
    padding: 45px 450px;
    color: #353535;
    margin-top: 11.5%;
    
    display: grid;
    grid-template-areas:
    "left mid right";
}

footer a:visited {
    color: #353535;
}
footer a:visited {
    color: #353535;
}
footer .leftSide {
    grid-area: left;
}
footer img {
    grid-area: mid;
    width: 150px;
    position: relative;
    top: -20px;
}
footer .contacts {
    grid-area: right;
}

@media (max-width: 1770px) {
    footer {
        padding: 45px 180px;
        margin-top: 20%;
    }
}
@media (max-width: 1500px) {
    .secondBlock {
        position: relative;
        top: 138px;
        left: -165%;
    }
}


.main {
    display: grid;
    grid-template-areas:
    "block1 block2"
    "block1 block2";

    /* border: 5px solid black; */

    width: 1210px;
    
    position: relative;
    left: 20%;
    top: 180px;
}

/* -------------------- */
.mainBlock {
    grid-area: block1;

    background-color: white;
    height: 600px;
    width: 800px;

    padding: 20px 30px;


}

.mainBlock .selectOfService {
    width: 300px;
    height: 70px;
    border-radius: 16px;
    border: 1px solid #e2e2e2;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 25px;
}

.mainBlock .textForOrder {
    width: 600px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid #e2e2e2;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 25px;
}

.inpX4 {

    height: 200px;
    width: 700px;
    padding: 20px 30px;

    position: relative;
    left: -4%;

    display: grid;
    grid-template-areas:
    "in1 in1 i i i i i i i i i i in3 in3"
    "in2 in2 i i i i i i i i i i in4 in4";

}

.inpX4 input {
    font-size: 16px;

    width: 270px;
    height: 50px;
    border-radius: 16px;
    border: 1px solid #e2e2e2;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 25px;
}
.inpX4 .selectOfLang {
    font-size: 16px;

    width: 270px;
    height: 50px;
    border-radius: 16px;
    border: 1px solid #e2e2e2;
    outline: none;
    margin-bottom: 25px;
    padding: 1px 30px;
}

.selectOfLang {
    grid-area: in4;
}
.in1 {
    grid-area: in1;
}
.in2 {
    grid-area: in2;
}
.in3 {
    grid-area: in3;
}

/* -------------------- */

.secondBlock {
    grid-area: block2;

    height: 600px;
    width: 400px;
    
}

.orderPriceBlock {
    height: 200px;
    width: 200px;

    position: relative;
    left: 26%;
    top: 100px;


}

.orderPriceBlock .orderPrice {
    position: relative;
    top: 35%;

    font-size: 50px;
    color: #0068e4;
}

.orderPriceBlock .orderPriceText {
    position: relative;
    top: 35%;

    font-size: 21px;
    color: #0068e4;
}

.orderButton {
    height: 100px;
    width: 300px;
    box-shadow: 0 7px 14px #00000029;
    background-color: #252e47;
    color: aliceblue;
    font-size: 31px;

    position: relative;
    left: 14%;
    top: 173px;
}
.orderButton:hover {
    background-color: #4c629e;
}
/* ---------------------------------- */

.selectOfService:focus {
    border: 1px solid rgb(30, 147, 243); 
}
.textForOrder:focus {
    border: 1px solid rgb(30, 147, 243);
}
.inpX4 input:focus {
    border: 1px solid rgb(30, 147, 243);
}
.selectOfLang:focus {
    border: 1px solid rgb(30, 147, 243);
}

/* ---------------------------------------- */
.serviceActive {
    color: #cfcece;
    font-size: 14px;

    position: absolute;
    top: 12px;
    left: 4%;

    background-color: white;
    width: 53px;
}

.languageActive {
    color: #cfcece;
    font-size: 14px;

    position: absolute;
    top: 92px;
    left: 57.5%;

    background-color: white;
    width: 34.5px;
}

.textColor {
    color: rgb(30, 147, 243);
}
.borderColor {
    border: 1px solid rgb(30, 147, 243);
}